[2022-02-02 04:57] jamesmrollins opened #1 "Wk1_feb: BUG GitHub Pages Not Rendering"
## Findings

- When pushing or pulling a .md file into the repository through the gh-pages branch, the action fires but does not pull the artifact to build.
- The jekyll builder also executes, although is shouldn't since there is a .nojekyll hidden file to suppress the action.

@hirenp-waferwire - please check it out.

[2022-02-02 15:40] jamesmrollins commented on #1
## Fix it!

Two problems identified that prevented proper execution of the action:

1.  Needed to change the output directory from "Dir" to "dir" (all lowercase). The GitHub settings is hardcoded for all lowercase.
2. Needed to add open quotation mark to one of the identified chapters in the _bookdown.yml  file.

## Lesson Learned

- Morning brain is clearly superior to the evening brain.
- Punctu

[2022-02-02 15:40] #1 closed, assigned to jamesmrollins

[2022-02-15 16:13] jamesmrollins opened #5 "User Story: User needs a curriculum that identifies knowledge required for Scrum Managers and Agile Teams"
# Curriculum Topics

The list below provides a knowledge-based competency guide to develop Agile Teams.  The guide contains a listing of topic areas that will be further described in related cards.

## Required Competencies

Upon completion of training, an Agile Team will have the following knowledge necessary to manage their team using Scrum methodologies, GitHub, and ZenHub management systems.

[2022-02-15 16:59] jamesmrollins opened #6 "Develop Training"
This epic manages all necessary training development activities needed to stand up an Agile Team.

# Curriculum Topics

The list below provides a knowledge-based competency guide to develop Agile Teams.  The guide contains a listing of topic areas that will be further described in related cards.

## Required Competencies

Upon completion of training, an Agile Team will have the following knowledge

[2022-02-15 17:02] jamesmrollins opened #7 "User Story: User needs training support materials and in-person training that support understanding Lean-Agile Product Development"
# Understand Lean-Agile Development

Develop training materials that support the development of the competencies below:

- Understand and relate lean-agile terms, acronyms and principles.
- Understand value streams and how development value streams support clinical value streams.
- Understand the role of the Agile Release Train and how they fulfill product and service requests.
- Understand how pr

[2022-02-15 17:11] jamesmrollins opened #8 "User Story: User requires coordination for CIO provided in-person Agile Team training to develop basic understandings of Lean-agile methods."
- [x] Meet with CIO office to determine availability of training contracts.
- [x] Establish a shared training calendar.
- [ ] ~~Notify people about training events for which they are registered.~~
- [ ] ~~Identify people who need to attend training and schedule training events.~~
- [x] Identify supporting TMS curriculum.

Share Training Calendar - Calendar of Training Events will be posted to CIDM

[2022-02-15 17:16] jamesmrollins opened #9 "Create a Training Plan, Schedule Participants and Train"
This epic is to track the assessment of enterprise lean-agile training resources, coordination for those resources, and organization of training events to prepare teams for participation in lean-agile activities.

[2022-02-15 17:20] jamesmrollins opened #10 "Discovery: Meet with CIO and assess training availability."

[2022-02-15 17:23] jamesmrollins commented on #10
Hey @maneyb1 I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/lcmt-kanban-61fa0e31aeb5be00174a554e/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-02-15 18:23] jamesmrollins opened #11 "Portfolio to ART Transition Analysis and Planning"

[2022-02-15 19:20] jamesmrollins opened #12 "Create Value Stream Dashboards"

[2022-02-15 21:31] jamesmrollins opened #13 "Prepare and Conduct Program Increment Planning"
## Description
For CIDMO teams responsible for delivering IHP solutions, the Program Increment Planning Conference (PIPC) is a week-long virtual event held each quarter that enables integrated teams to scope and coordinate work in order set expectations for a solution delivery schedule.

Unlike the current IHP process that requires CIDMO divisions to independently resource each IPT in sequence, th

[2022-02-15 21:31] jamesmrollins opened #14 "Organize Agile Release Train"

[2022-02-16 15:50] jamesmrollins opened #15 "User Story: User needs information on how to open an issue card"
- How to load up ZenHub
- How to select issue from the issue button.
- How to make titles.

[2022-02-16 17:13] maneyb1 opened #16 "User Story: As an Identify VS and ART workshop participants, I need sufficient SAFe training to meaningfully participate in the event"
- [x] Review LACE consultants organizing around value material
- [x] Review LACE consultants Identify VS and ART  material
- [x] Identify participants for Organizing Around Value Training

[2022-02-16 17:15] maneyb1 opened #17 "Identify Value Streams and ARTs"

[2022-02-16 17:31] maneyb1 opened #18 "User Story: As a LCMT member, I need all the inputs for a successful workshop prepared"
- [x] List of people
- [x] Survey participants on questions for identifying operational value streams
- [x] Identify a target  operational value stream
- [x] Identify current agile practices and tools in CIMDO today
- [x] Conduct empathy interviews with workshop participants

[2022-02-16 18:38] jamesmrollins commented on #16
@maneyb1 - Great User Story!!

[2022-02-16 20:47] vvenu0 opened #19 "Discovery: Identify which dashboards are used at the facility level to assess performance."
- [x] Determine what dashboards and data displays are available which display data and outcomes at the facility level.
- [x] Determine which dashboards and displays could by used by CIDMO.

[2022-02-16 22:36] #15 closed, assigned to jamesmrollins

[2022-02-22 15:58] jamesmrollins commented on #19
@vvenu-va will contact @jamesmrollins offline and determine a good time to meet and discuss findings.

[2022-02-22 20:13] jamesmrollins opened #20 "User Story: LCMT needs an example of an operational (clinical) value stream to point development values streams towards."
The user needs a good example of an clinical value stream that a facility or VISN is using to guide their improvement efforts. This will give the LCMT Directors the ability to see how their portfolio of skills matches against these improvement efforts.  Moreover, understanding the improvement efforts of the VISN or facility will unveil how we should construct our first ART to meet these needs.

-

[2022-02-22 20:23] jamesmrollins commented on #20
FYI @maneyb1 and @vvenu-va

We have scheduled two meetings with VISN 1 and VISN 10 - Columbus.  Invites have been sent out to you both.

- VISN 10 - Columbus 1200 EST with Michelle Love, Chief of Quality Safety Innovations
- VISN 1 1300 EST with Lisa Doyon - Director VISN 1 Performance and Sharon Croteau - Lean Continuous Improvement Coordinator.

[2022-02-22 22:14] jamesmrollins commented on #8
2/22 We are going to have "Organize around Value" training Wednesday 2/23.  Roster is set.  After that training, we will consult with directors and ask who they wanted in the ART Formation Workshop.

There is a possibility to include Informatics general population to gain access to the IT development curriculum in their workforce development platform. There is a call on 2/24 with OIT to learn more

[2022-02-22 22:21] jamesmrollins commented on #19
@vvenu0 will send out a meeting notice for Thursday.

[2022-02-23 18:29] maneyb1 commented on #18
Updated card to make homework more specific to the workshop content.

[2022-02-23 18:46] maneyb1 commented on #18
Link to pre-workshop exercise: https://forms.office.com/g/Qqgy9X3Bmj

[2022-02-23 22:26] jamesmrollins commented on #16
From 2/23 PM Scrum:

- The LACE consultants will present a "generic" ART workshop.
- Provides more value stream related details, with relationship to our solutions and what we provide to operational value streams (food for thought).
- We will then go to a more refined IHP centric ART workshop that gets down to people assignments and related resource related decisions.
- Then we will focus on the o

[2022-02-23 22:30] jamesmrollins commented on #18
Discuss in 2/23 PM Scrum

@maneyb1 is going to send out the forms cited above to Friday  Workshop Planning Call participants.

- Get a first pass on what they think
- Ask who they think should participate.
- Use food for thought.
- Then we can send the form to the ART Workshop participants identified in the Friday meeting.

[2022-02-23 23:21] jamesmrollins commented on #16
## From Thursday 2/23 Planning Meeting

1. User feedback on Wednesday training.
2. Get a clear understanding using examples (using JN examples) of clinical value streams that we can align ourselves.
3. Define terms:
	- Context
	- Operational Value Stream
	- Process Step
	- Operational Step
4. Identify next workshop participants.
	- Intro to Agile TMS training.
	- Intro to SAFe TMS training

[2022-02-24 17:50] maneyb1 commented on #18
Incorporate V's IHP Lean/OKR efforts into the workshop.
@vvenu0 Invite James and Brenna to meeting with Dr. Cilessen and Jim.

[2022-02-24 21:37] vvenu-va commented on #19
[Performance and Measurement Data Reporting within VHA.docx](https://github.com/jamesmrollins/CIDMO_LCMT/files/8136545/Performance.and.Measurement.Data.Reporting.within.VHA.docx)

[2022-02-24 21:38] vvenu-va commented on #19
V is seeking information from the VSSC Help Desk on how we can access some of their customer satisfaction data.

[2022-02-24 22:07] maneyb1 opened #21 "User Story: As a LCMT team member, I need a plan to train all staff who will likely participate in first ART"
- [x] Identify ITWD SAFe schedule and seats available for leading SAFe training, DevSecOps, Portfolio Management, and Product Manager Trainings.
- [x] Skills inventory
- [x] Write a Training Memorandum of Instruction

[2022-02-24 23:27] maneyb1 commented on #7
Suggest we have Brandy read as well

- [x] Get Brandy trained on using GitHub

[2022-02-25 23:58] #10 closed, assigned to maneyb1, jamesmrollins

[2022-02-25 23:58] #5 closed, assigned to jamesmrollins

[2022-02-25 23:58] #8 closed, assigned to maneyb1

[2022-02-25 23:59] #16 closed, assigned to maneyb1

[2022-02-28 15:27] jamesmrollins opened #22 "User Story: As a director, I need recommendations for the composition and organization of the first value stream, potentially starting from some existing charters."
## Review existing Charters and RACI

- Synoptic Reporting IPT Charter
- eGFR Cystatin C IPT Charter
- CIDMO IPT RACI Template

### Identify competencies and directorates

- Identify competencies necessary to support IPT.
- Identify supporting programs.
- Identify supporting Program Office.

[2022-02-28 18:04] jamesmrollins opened #24 "User Story: As a Scrummie, I need information about how to manage a scrum using ZenHub."
# Write a Procedure that Supports the Following Objectives:

- [ ] Organize and participate in a daily Scrum.
- [ ] Set up a user account in GitHub and ZenHub.
- [ ] Create issue cards and use to manage asynchronous discussions, links, screen captures and demonstration projects.
- [ ] Use ZenHub to manage work through daily Scrums (epics, sprints and estimates).
- [ ] Report progress using ZenHub.

[2022-02-28 18:07] jamesmrollins opened #25 "User Story: As an LCMT Member, I need instructions on how to plan a Program Increment Planning Conference"
# Write Instructions that Support the Following Objectives

- [ ] Understand the purpose and objectives for Program Increment Planning (PIP).
- [ ] Adequately prepare for a PIP conference by bringing necessary materials and reading ahead.
- [ ] Participate in PIP planning activities.
- [ ] Estimate sprint activities and evaluate risk to completing activities during the covered PIP period.
- [ ] Ev

[2022-02-28 19:30] jamesmrollins opened #27 "User Story: As a CIDMO employee or contractor, I don't have information about upcoming changes and that makes me very anxious."
# Prepare Communications Plan

- [x] Target March 8, All employee meeting for substantial explanation and timeline.
- [x] Identify venues to communicate on-going status ( i.e., SharePoint, PowerBI).
- [x] Can we target any other regular meetings for messages?

[2022-03-01 15:30] jamesmrollins commented on #22
As per discussion with @maneyb1 on 2/28- we will convert a team charter and IPT SOP into Lean-Agile artifacts such as a Value Stream Canvas and an Epic.

- This conversion needs to be done in time for the discussion with Dr. Cillessen on 3/1.
- We also need to define the Epic-User Story-Feature-Task definition and hierarchy.
- Need to define our tagging system as well.
- Clarify the difference bet

[2022-03-01 15:44] jamesmrollins opened #28 "As a director, I need to understand the ART map and my teams roles within it."
# Deliverables

- [x] Will likely follow the ART Workshop.
~~- [ ] Meet with directors for identified value streams and support building teams~~
~~- [ ] Need a migration plan that will prioritize work that people are already performing with the work the ART will be responsible for.~~

[2022-03-01 22:09] maneyb1 opened #29 "User Story: As a ART member, I need the user guide to include links to reference standard books"

[2022-03-01 22:13] maneyb1 opened #30 "User Story: As a clinical stakeholder, I need to know what PI planning will entail and the level of commitment for myself and my team"
- [ ] Validate PI Planning Checklist activities
- [ ] Create supporting PI Planning checklist issue cards

[2022-03-01 22:22] maneyb1 commented on #22
### IPT vs Value Stream
In CIDMO, IPT is the organizing construct for getting work done.
In SAFe, the organizing construct is the value stream
Teams align to the value stream
Teams pull work off the backlog

### OIT is on the ART
OIT partners can do dev and testing
Testing sites have questions, questions go back to clinical SME, Testing and deployment team will make changes
CLIN2 team codes the ac

[2022-03-01 22:25] maneyb1 commented on #18
### State of IHPMB
IHPMB approval process is stable
Building teams to execute is not stable
Out of 6 approved IPTs, cystatin C is the Kate has confidence in delivering
Cystatin C was approved in November, started to get unstuck in December
Psychotherapy IPT  Team didn’t' respond to scope of charter and is now paused

[2022-03-01 22:42] maneyb1 commented on #27
Chuck made request to LCMT for update on Tuesday CIDMO Work Effort Meeting.
Brenna asked to defer until at least First week in March.
Plan forward

- [x] Get JN approval on Lean-Agile and SAFe for all staff scheduled for 3/8
- [x] Bring slides and prepare to answer questions on CIDMO work effort  meeting 3/15

[2022-03-02 15:53] maneyb1 opened #31 "As a CIDMO staff member, I need foundational training in Lean and Agile"
- intro training on lean and agile.  CIDMO ops is addressing.

[2022-03-02 15:54] maneyb1 commented on #31
- [x] Consult with Brent Stevens on Lean Training

[2022-03-02 18:06] maneyb1 opened #32 "Develop Cultural Transformation Strategy"
## Provide Analysis

### Need approved messaging for:

- [ ] All Staff Call
- [ ] Coffee, Culture and Conversation
- [ ] Program Collection Calls
- [ ] CIDMO Manager's Operations Call

### Develop content for:

- [ ] Meetings
- [ ] Spotlights
- [ ] CIDMO Staff Home Page
- [ ] CIDMO Goes SAFe Team Page

[2022-03-02 18:14] jamesmrollins commented on #22
Sprint Planning Mtg 3/2

- We have provided some useful examples of how IHP work could be organized into a Template Value Stream and an Implementation Value Stream.
- Future VS may need to be developed to round out the full scope of IHP work.
- This will be done during our ART organization workshops through March.
- We will close this card and create another card for future sprint.

[2022-03-02 18:14] #22 closed, assigned to maneyb1, jamesmrollins

[2022-03-02 18:24] jamesmrollins opened #33 "User Story: We need to understand KBS/S&I workflows so we can integrate into the IHP value stream"
# Deliverables

- [x] Contact Apurva Desei, Catherine Hoang and set up a meeting (Brenna)
- [x] Sketch their workflow (James)
- [x] Use workflow to inform whether we need a new DVS or an addition to an existing proposed DVS.
- [x] Get access to work tracking or backlog system, if exists.

## Currently the division splits themselves into two concerns

- Terminology
- Clinical Decision Support
- The

[2022-03-02 18:30] jamesmrollins commented on #19
Sprint Planning Meeting 3/2 decisions:

- We are going to pull the Data Dissemination Task off this card and create a new card.
- The new card will go into the Product Backlog.
- Meeting on Thursday to answer what information we want in our dashboard.

[2022-03-02 18:35] jamesmrollins commented on #20
Sprint Planning Meeting 3/2

- Met with Chadd Canode, VISN 8, 3/1.  He is going to send us VSM artifacts next week.
- We will close this card.
- @jamesmrollins creates a new card to evaluate the crop of VSM provided by VISN 1 and 8.
- The evaluation will basically find a good example of what we can potentially link into and use as an exhibit in our ART workshops.
- Continue investigation and conta

[2022-03-02 18:35] #20 closed, assigned to jamesmrollins

[2022-03-02 18:44] jamesmrollins commented on #18
Sprint Planning 3/2

- JLV Team is using JIRA and they release in increments.
- The Patient Safety Team uses JIRA for patient safety issue tracking (ticket management).
- FIS - IWS uses Microsoft Planner to plan their workforce development work and HI COP.
- CIDMO Director uses ScrumBan to manage web page development.
- Established a regular meeting with KC and the FIRM to inform about AGILE conce

[2022-03-02 18:44] #18 closed, assigned to maneyb1, jamesmrollins

[2022-03-02 19:00] maneyb1 commented on #6
Add training to IWS list: https://dvagov.sharepoint.com/sites/VHACIDMO/CIDMO_FIS/IWS/ICP_WG/IWS-HICP/FDER/Forms/AllItems.aspx?id=%2Fsites%2FVHACIDMO%2FCIDMO%5FFIS%2FIWS%2FICP%5FWG%2FIWS%2DHICP%2FFDER%2FHealth%5FInformatics%5Fand%5FData%5FAnalytics%5FTraining%5FResources%2Epdf&parent=%2Fsites%2FVHACIDMO%2FCIDMO%5FFIS%2FIWS%2FICP%5FWG%2FIWS%2DHICP%2FFDER

[2022-03-02 21:55] vvenu-va opened #34 "Determination of coordination and support for performance and measurement reporting within VHA"
- [x] Begin determining which offices within VHA will be able to provide useful data for value stream metrics.   Specifically, what are they reporting?  What applies to CIDMO?  What may we get access to?  What level of support can be provided to CIDMO?

- [x] Coordinate with PM
- [x] Coordinate with MCA

[2022-03-02 22:00] maneyb1 opened #35 "As an owner of a CIDMO communication channel, I want approved messaging about SAFe Implementation and Feedback"

[2022-03-02 22:01] maneyb1 commented on #35
Draft HRO Lean-Agile Foundations: https://teams.microsoft.com/l/file/D580257F-8EEE-44D1-8F9B-922357ADDEE1?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&fileType=docx&objectUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanban%2FShared%20Documents%2FLCMT%2FComms%2FCIDMO%20Lean-Agile%20HRO%20Strategy%20Com%20Campaign.docx&baseUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanba

[2022-03-02 22:12] maneyb1 commented on #27
- [x] Update CIDMO Goes SAFe with calls to action (trainings, link to skillsoft books, case study)

[2022-03-02 22:12] jamesmrollins commented on #29
# Deliverables

- [ ] Develop a book index.
- [ ] Provide crosswalk to SkillSoft.
- [ ] Provide links or citations to these books in the quick-read documents.

[2022-03-02 22:15] jamesmrollins commented on #28
# Deliverables

- [x] Will likely follow the ART Workshop.
- [x] Need a migration plan that will prioritize work that people are already performing with the work the ART will be responsible for.

[2022-03-02 22:42] jamesmrollins opened #37 "User Story: As a member of an ART, I need instruction about its purpose, scope and activities"
# Required Competencies for ART Leaders and Stakeholders
Upon completion of training, ART Leaders and Stakeholders will have the following knowledge to manage their ART using Program Increment Planning (PIP) and ZenHub Management Systems, and

## Organize an ART
•	Understand the benefits of Lean-Agile and how it will boost productivity.
•	Understand Lean-Agile Development methods, and relate lean-

[2022-03-03 15:38] maneyb1 commented on #31
Notes from Brent on extent of IPS lean expertise:
Was the training Six Sigma? Lean and Six Sigma training, but not to statistical analysis level.

Did you ever send the actual training that the staff attended? I’ll see if I can get you the specific link to the content, but it seems the vendor has changed some of their training around.  I couldn’t find it directly from the site, but here is the ven

[2022-03-03 15:39] maneyb1 opened #38 "Make Informatics EHRM work visible"

[2022-03-03 15:40] maneyb1 opened #39 "Explore using ZenHub for OHI EHRM integration Program Management Work"
show and tell
Example of epics could be the sites, and milestones couple be Pre-CSR, enabling epics would be the pillars

[2022-03-03 15:51] jamesmrollins opened #40 "Enabler: What will be the scope, inputs and outputs, and the target date for the PI Planning Conference"
# Deliverables
- [x] Engage OIT consultants regarding getting help with the conference.
- [x] Specify PIPC inputs (required and optional)
- [x] Specify expected outcomes and next steps after a PIPC
- [x] Specify the IHP roles participating in a PIPC
- [x] Identify an opportunity to conduct a PI Planning event for a single clinical value stream

## Risks
- The PIPC needs to be absolutely successful

[2022-03-03 22:09] #19 closed, assigned to vvenu-va

[2022-03-03 22:25] maneyb1 commented on #21
- [ ] Identify backlog of students for each class type
- [ ] Decide if we want to invest in training that aligns with our schedule or wait for openings in the ITWD training

Notes on ITWD Classes and Seats available:
ITWD Fills 10 slots per class
These classes are free
Participants do need to take the test, regardless if they pass or fail
No influence over schedule

### SAFe for Teams (traditional

[2022-03-03 23:05] #25 closed, assigned to jamesmrollins

[2022-03-03 23:28] #7 closed, assigned to jamesmrollins

[2022-03-04 00:18] jamesmrollins opened #42 "This is a test issue"

[2022-03-04 00:19] #42 closed, assigned to aimeebenson

[2022-03-07 15:50] maneyb1 commented on #40
- [ ] What is outcomes and next steps after PI Planning event
- [x] Memorandum of instruction

[2022-03-07 15:56] maneyb1 commented on #34
Identify what types of measures they manage: efficiency, capacity, quality, patient safety

[2022-03-07 20:27] jamesmrollins opened #43 "User Story: As a member of the LCMT, I need to understand how Facilities document their value streams and prioritize improvement issues."
## Evaluate VISN 1 Value Stream Maps

- [x] Admission VSM
- [x]  ATD_PFD_CurrentState
- [x] Mammogram
- [x] Outpatient
- [x] Patient Admission

## Evaluate VISN 8 Value Stream Maps

[2022-03-07 22:20] maneyb1 commented on #21
James has first draft started, planning to send to Kellie by end of the week.
There is no memo of instruction template, only a generic memo template

[2022-03-07 22:24] maneyb1 commented on #28
- [x] Schedule meeting with Elizabeth Griffith to understand how CLIN2 (new name) manages their work.

[2022-03-07 23:07] maneyb1 opened #44 "US: As a LCMT member I need to identify candidate development value streams based on current volume of IHP related team work"
# We Need to Analyze the Flow of Work into The Organization via FIS, HFE and KBSS&I

| Type of Work | Directorate| Requesting Customer | Number of Requests 2020-2021|
|----------------|-------------|------------|------------------------------------|
| Template | FIS|10E1E National Center for Ethics in Health Care| 1 |

## Then Illustrate the Flow Using [Sankey](https://ppcexpo.com/blog/sankey-char

[2022-03-07 23:09] maneyb1 commented on #44
- [x] Export list of template and reminder requests
- [x] Export HFE project Backlog
- [x] Export KBS project backlog
- [x] Create IHP backlog
- [x] Run Pareto analysis
- [x] Meet with Elizabeth Griffith to understand Team capacity and workload management
- [x] Define template value stream

[2022-03-08 18:01] jamesmrollins opened #45 "User Story: As a CIDMO user, I need to understand the capabilities of Atlassian versus ZenHub."
## Criteria

- [x] Does CIDMO have access to a Jira license?
- [x] What are the features comparison between Jira and ZenHub?
- [x] Which system should we use?
- [ ] Do they all have APIs to move analytical information?

[2022-03-08 22:18] brandymorrison commented on #35
Impressions of All Staff: It was a nice platform for introducing the concept to all staff. There was no engagement in the comments from employees. This is only the beginning to the conversation framework being developed. The next crucial step will be engaging with the Coffee, Culture and Conversations team to have a conversation with employees versus briefing them.

[2022-03-08 22:25] brandymorrison commented on #27
Moving this comment to other issue care: ~~Impressions of All Staff: It was a nice platform for introducing the concept to all staff. There was no engagement in the comments from employees. This is only the beginning to the conversation framework being developed. The next crucial step will be engaging with the Coffee, Culture and Conversations team to have a conversation with employees versus brie

[2022-03-09 02:03] maneyb1 commented on #45
- [ ] Brenna - will look in Gartner

[2022-03-09 15:38] maneyb1 commented on #35
Impressions of All Staff: It was a nice platform for introducing the concept to all staff. There was no engagement in the comments from employees. This is only the beginning to the conversation framework being developed. The next crucial step will be engaging with the Coffee, Culture and Conversations team to have a conversation with employees versus briefing them.

[2022-03-09 15:45] maneyb1 commented on #33
- [x] Follow up meeting with Terminology Team
- [ ] Review Apurva's diagram
- [ ] Validate KBS assertion that IHP is missing a 5th component
- [ ] Get list of BPMN+ models from Ken Ruben
- [ ] Link whiteboard notes with meeting notes

### Answer questions about what this is about
- Several team members took the two trainings
- Apurva - used a clock analogy where CIDMO is responsible between 9 am a

[2022-03-09 15:48] maneyb1 commented on #21
James will try to finish today and put in QA pipeline.
Aimee is Brenna's proxy for review before sending to Kellie for signature

[2022-03-09 15:51] maneyb1 commented on #27
@jamesmrollins start a new card for transformation plan ~~- [ ] James will write a transformation plan in response to Jim Weaver's inquiry
Brandy and Aimee will be QA reviewers~~

[2022-03-09 15:57] maneyb1 commented on #21
- [ ] Aimee come up with training budget
- [x] Draft training plan, looking at leading SAFe and SAFe for teams workshops for potential ART members

[2022-03-09 15:58] maneyb1 commented on #39
Discussed having follow up meeting to explore candidate pilot projects.
Also agreed to explore tooling.

[2022-03-09 15:58] #39 closed, assigned to nobody

[2022-03-09 18:28] jamesmrollins commented on #37
As per Core Meeting 3/9:

- Operational question - Can we take these user story and break it into parts.  It seems really big and critical. Each one of the objectives above is detailed.
- Do we have people identified for the ART Roles?
- What do we need to do involve roles from outside the organization?
- Should we map out a current state and future state value stream mapping processing? Will help

[2022-03-09 18:50] #35 closed, assigned to maneyb1, brandymorrison

[2022-03-09 21:21] maneyb1 commented on #44
Link to notes: [https://dvagov.sharepoint.com/sites/CopyofMPKanban/_layouts/15/Doc.aspx?sourcedoc={0984b121-cdf3-4705-9b74-350b46e60e33}&action=edit&wd=target%282.%20VS%20and%20ART%20Identification%2FPrepare%20for%20ART%20ID.one%7Cdee75e7d-37e7-49ef-ad47-8b501a3634e4%2FCGS%20Continue%20to%20discuss%20starting%20point%20for%20SAFe%20-%7C48118491-7d38-4eba-9f13-be868bd049de%2F%29&wdorigin=703](url)

[2022-03-09 21:23] maneyb1 commented on #34
- [ ] Follow up with Galen Hamann -  (Kate's PoC for ePRP) to see if he has someone who can work with V

[2022-03-09 22:07] maneyb1 commented on #34
@vvenu-va and @jamesmrollins - please meet and discuss data table structure for the pareto analysis
Source files for pareto analysis are in location below. Waiting for KBS and HFE project tracking exports:
https://teams.microsoft.com/_#/files/Identify%20Value%20Streams%20and%20ARTs?threadId=19%3A91df45c15458463fa117fa9a3eb60581%40thread.tacv2&ctx=channel&context=Identify%2520Value%2520Streams%2520

[2022-03-09 22:20] maneyb1 commented on #44
@jamesmrollins - take how a template becomes national and describe as value stream

[2022-03-09 22:23] #27 closed, assigned to maneyb1, brandymorrison

[2022-03-09 23:13] jamesmrollins commented on #21
Hi @aimeebenson @maneyb1 @RossSpeir

Please find the draft [Training Plan](https://teams.microsoft.com/l/file/77CF59D5-D29C-4913-93BF-67B4A54F007B?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&fileType=docx&objectUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanban%2FShared%20Documents%2FLCMT%2FTransformation%20Plan%2FTraining%20Plan%2FCIDMO%20SAFe%20Training%20MOI.docx&baseUrl=https%3

[2022-03-09 23:24] jamesmrollins opened #46 "As a CIDMO Directorate, I need to understand the situation and what i need to do to support the transformation to Lean-Agile"
# CIDMO Goes SAFe Transformation Plan

1. Situation:  What in our current situation that necessitates this transformation?
2. Scope:  Who will be affected by this transformation?
3. Purpose: Why are we transforming?
4. Intent: What is the long term vision of how this plan will develop over time?
5. Implementation:  Phase-by-phase description of how CIDMO will transform.
6. Responsibilities: Identi

[2022-03-10 18:15] jamesmrollins commented on #34
Hi @vvenu-va @maneyb1

## VISN 1 Value Stream Map Review

- Below is a pretty good VSM artifact from VISN1 regarding admitting and discharge processes. It has measures and relates performance of the activity to SAIL metrics.
- Some of the supporting tabs in the file shown below have supporting workflows, but do not indicate interactions with a technology layer (this would be the linkage to CIDMO a

[2022-03-10 18:19] jamesmrollins commented on #43
Hi @vvenu-va @maneyb1

## VISN 1 Value Stream Map Review

- Below is a pretty good VSM artifact from VISN1 regarding admitting and discharge processes. It has measures and relates performance of the activity to SAIL metrics.
- Some of the supporting tabs in the file shown below have supporting workflows, but do not indicate interactions with a technology layer (this would be the linkage to CIDMO a

[2022-03-10 18:24] jamesmrollins commented on #44
@vvenu-va and @jamesmrollins - please meet and discuss data table structure for the pareto analysis
Source files for pareto analysis are in location below. Waiting for KBS and HFE project tracking exports:
https://teams.microsoft.com/_#/files/Identify%20Value%20Streams%20and%20ARTs?threadId=19%3A91df45c15458463fa117fa9a3eb60581%40thread.tacv2&ctx=channel&context=Identify%2520Value%2520Streams%2520

[2022-03-14 14:31] RossSpeir commented on #40
Discussed the objective to 'Conduct a PI Planning event for a single clinical value stream.'  Per Andrew Keener, a single team's efforts to plan their work (for an Epic, for a quarter), is not considered a 'PI Planning event.'

I'll rescind my proposal to conduct a 'single-team PI Planning', and will assume that teams participating in the CIDMO PI Planning Conference have KSAs needed to plan and e

[2022-03-14 14:42] maneyb1 commented on #21
Release with the transition plan and the communication plan.

[2022-03-14 14:54] maneyb1 commented on #44
@vvenu-va - update the template request with the program office

[2022-03-14 16:15] brandymorrison commented on #21
@jamesmrollins @aimeebenson I made comments/suggestions in the document for your review. Please let me know if anything additional is needed from me regarding this action.

[2022-03-14 21:07] vvenu-va commented on #34
https://app.powerbigov.us/groups/f8385f06-ba47-4655-b2cd-b1b2784f4097/reports/518c8d3a-92e3-4308-af43-7ff62ae158bc/ReportSection

[2022-03-15 00:12] jamesmrollins commented on #44
Hi @vvenu-va - [This r code for Sankey chart](https://plotly.com/r/sankey-diagram/) is what my contact said should give you the necessary information to create a Sankey plot using R code.

[2022-03-15 14:46] RossSpeir commented on #40
Target dates for PIPC is in May.
MUST have work carried out using SAFe by Q4

[2022-03-15 14:57] RossSpeir commented on #46
May need to walk through the transition plan with Kelly to get her consensus / buy-in.

[2022-03-15 21:15] maneyb1 commented on #31
Brandy - review memorandum of training for ART and see if it can be re-used/re-configured for all staff training, starting with lean and agile foundations.

[2022-03-15 21:17] maneyb1 commented on #21
@maneyb1 - Review to ensure role-based training is in plan

[2022-03-15 21:32] maneyb1 commented on #43
- [x] @RossSpeir - identify HCD artifacts (journey, persona)

[2022-03-15 21:51] maneyb1 commented on #45
@jamesmrollins - there may be enough reasons already to move to JIRA/Atlassian tool suite, including that the OIT Product Lines are using it.

[2022-03-16 02:08] jamesmrollins commented on #46
Hi @maneyb1 @RossSpeir @davclaBAC @brandymorrison @aimeebenson @vvenu-va please find the [CIDMO Lean-Agile Transformation Plan](https://teams.microsoft.com/l/file/E320057F-3537-4E29-A44B-C95DFFAC6424?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&fileType=docx&objectUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanban%2FShared%20Documents%2FLCMT%2FTransformation%20Plan%2FCIDMO%20Transfo

[2022-03-16 14:44] maneyb1 commented on #44
V - 90% done manually linking programs to requests for NCTRs

- [ ] Pull sankey code
- [ ] Analyze data

[2022-03-16 15:11] maneyb1 opened #47 "Communication Plan"
link campaigns, channels, education and training schedule into unified plan that communicates strategy for SAFe

[2022-03-16 15:17] maneyb1 commented on #40
@RossSpeir - we probably need to split this card and move into next sprint.

@maneyb1 - I agree. SAFE breaks down PI Planning requirements into 3 areas:  Organizational Readiness, Content Readiness, and Logistics Readiness -- we can break out the work this way. We have a much better handle on Organizational Readiness (see notes below), and I think this will be the most difficult to achieve and wha

[2022-03-16 15:19] jamesmrollins commented on #21
I am moving the budgeting and scheduling parts of this task to another card.

[2022-03-16 15:19] #21 closed, assigned to RossSpeir, maneyb1, jamesmrollins, aimeebenson

[2022-03-16 15:21] maneyb1 commented on #34
@vvenu-va - spilt this card - pull remaining tasks and points off this card and add new card including these tasks plus next steps for next sprint and add the points from this card to new card

[2022-03-16 15:24] #43 closed, assigned to jamesmrollins

[2022-03-16 15:28] jamesmrollins opened #48 "Enabler: Training Schedule and Budget for Training MOI"
Reference #24

- [x] Need to schedule training by role.
- [x] Determine budget needs
- [x] Get management approval for budget

[2022-03-16 15:33] maneyb1 commented on #28
@aimeebenson - split tasks beyond first ART into separate issue

[2022-03-16 15:35] jamesmrollins opened #49 "Enabler: Review and Staff Completed Transformation Plan"
Reference #46

- [ ] Review, edit and publish plan.
- [ ] Complete the Communications plan.
- [ ] Review with relevant stakeholders.
- [ ] Submit to relevant Division and CIDMO Directors.

[2022-03-16 15:47] jamesmrollins commented on #46
Card split to #49

[2022-03-16 15:47] #46 closed, assigned to RossSpeir, maneyb1, jamesmrollins, aimeebenson

[2022-03-16 15:48] aimeebenson opened #50 "User Story: As a director, I need structure to facilitate managing resource alignment to the programs that are not in the first art"
- [ ]  expand plan to all shared resources required for programs management as a bridge to finalized art approach

- [ ] Need a solution for budget, PM, admin, etc support required by the programs but housed in the divisions

- [ ]  How is budget allocated now

- [ ] How will SAFe impact?

[2022-03-16 15:53] maneyb1 commented on #47
Transformation plan is dependent on communications plan, which will communicate larger strategy.

[2022-03-16 17:52] vvenu-va commented on #44
https://app.powerbigov.us/groups/f8385f06-ba47-4655-b2cd-b1b2784f4097/reports/b8d73c9e-5430-4fd5-b324-417e2b0b9d79/ReportSection

[2022-03-16 21:01] vvenu-va commented on #44
https://app.powerbigov.us/groups/f8385f06-ba47-4655-b2cd-b1b2784f4097/reports/70b5ab90-e05f-4a1d-9116-e3bf9271fc6c/ReportSection

[2022-03-16 21:02] vvenu-va commented on #44
https://app.powerbigov.us/groups/f8385f06-ba47-4655-b2cd-b1b2784f4097/reports/b8d73c9e-5430-4fd5-b324-417e2b0b9d79/ReportSection

[2022-03-16 21:03] vvenu-va commented on #44
https://app.powerbigov.us/groups/f8385f06-ba47-4655-b2cd-b1b2784f4097/reports/518c8d3a-92e3-4308-af43-7ff62ae158bc/ReportSection

[2022-03-16 21:04] maneyb1 commented on #44
- [ ] Validate clean pareto files

[2022-03-16 21:07] maneyb1 commented on #40
@maneyb1  - update notes from meeting with Andrew

[2022-03-18 16:24] jamesmrollins opened #51 "User Story: Continue investigation of KBSS&I Workflows and IHP Integration"
## Remaining Questions and Analysis:

 - [x] Review Apurva's diagram
 - [x] Validate KBS assertion that IHP is missing a 5th component
 - [x] Get list of BPMN+ models from Ken Ruben
 - [x] Link whiteboard notes with meeting notes

Reference #33

[2022-03-18 16:25] jamesmrollins commented on #33
Card split to #50

[2022-03-18 16:25] #33 closed, assigned to maneyb1, jamesmrollins

[2022-03-21 12:59] vvenu-va opened #52 "Determination of coordination and support for performance and measurement reporting within VHA (cont)"
- [x] Finish determining which offices within VHA will be able to provide useful data for value stream metrics.   Specifically, what are they reporting?  What applies to CIDMO?  What may we get access to?  What level of support can be provided to CIDMO?
- [ ] Coordinate with IPEC
- [ ] ~~Coordinate with CSDE~~
- [x] Create instructions for navigating MCAO data

[2022-03-21 12:59] #34 closed, assigned to maneyb1, jamesmrollins, vvenu-va, aimeebenson

[2022-03-21 13:20] RossSpeir commented on #40
We should strive to have our first PIPC in person (and plan to hold future events virtually). We’ll need a [] back-up plan in case an in-person event is not possible.

We’ll need to [] identify a facility that can accommodate up to 50 people. Options include SLC, SIMLearn center in Orlando.

@RossSpeir - OIT is not allowed to resume traveling yet so PI planning will likely remain virtual

We need

[2022-03-21 13:47] RossSpeir commented on #40
Our OIT consultants have materials for conducting a 'Simulation for PIP' which is essentially a 3-4 hour single-feature workshop. We need to have this experience (with a CIDMO team) in order to be successful with a multi-feature workshop. I've re-added this requirement to the PIPC plan.
@RossSpeir - this is the SAFe for Teams and accounted for in the Training plan

[2022-03-21 14:23] maneyb1 commented on #48
- [x] Schedule ideal training events and SAFe ceremonies
- [x] Confirm availability of training team
- [x] Identify people to train
- [x] Confirm identified trainees availability
~~- [ ] Submit training forms~~
~~- [ ] Pay for training~~

[2022-03-21 14:37] jamesmrollins commented on #44
As per scrum 3/21:  Close this card and split to #52 .  Also determined that Sankey chart not possible with current data.

[2022-03-21 14:37] #44 closed, assigned to maneyb1, vvenu-va

[2022-03-21 14:40] #31 closed, assigned to maneyb1

[2022-03-21 15:29] jamesmrollins opened #53 "Enabler: Translate IHP Value Stream screen capture to Whiteboard"

[2022-03-21 15:48] #51 closed, assigned to maneyb1, jamesmrollins

[2022-03-21 15:51] maneyb1 opened #54 "User Story: As the LCMT lead, I need to establish the agile teams"
- [x] Develop Rosters for each team, with roles
- [x] Identify contract resource vs gov resource roles

https://dvagov.sharepoint.com/sites/CopyofMPKanban/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={1F2CAF6F-E1FB-4D10-B6C9-7CAE1D05E345}

[2022-03-21 15:52] maneyb1 opened #55 "As the ART RTE, I need to Establish a Program KANBAN Board"
- [x] Stand up kanban board using agile tool

[2022-03-21 15:57] maneyb1 commented on #51
KBS proposes that content development is a 5th component of IHP.
See CDS artifact process v3: https://dvagov.sharepoint.com/sites/CopyofMPKanban/_layouts/OneNote.aspx?id=%2Fsites%2FCopyofMPKanban%2FSiteAssets%2FCIDMO%20goes%20SAFe%20Notebook&wd=target%282.%20VS%20and%20ART%20Identification%2FCurrent%20State%2FKBS.one%7C4E823728-111E-443D-8628-E1FB6E8F3AD4%2FRE%3A%20CIDMO%20Goes%20SAFe%3A%20Pre-wor

[2022-03-21 21:15] maneyb1 commented on #28
HFE team is meeting this week to determine what they need to achieve. Ross added what success in SAFe looks like. The team is also looking at the national reminder template process.
@maneyb1 will share ART design after JN approves.

[2022-03-21 21:20] #53 closed, assigned to jamesmrollins

[2022-03-21 21:22] maneyb1 commented on #49
Brenna - finish reviewing/editing transformation plan

[2022-03-21 21:25] maneyb1 commented on #48
- [x] Send draft schedule of trainings to Tas - have meeting scheduled 3/23 to discuss availability of his team to support

[2022-03-21 21:28] maneyb1 commented on #45
@maneyb1 - identify POC for Atlassian

[2022-03-21 21:32] maneyb1 commented on #47
@brandymorrison - send the overall communications plan, which includes the CIDMO goes SAFe section. Current plan is an excel document that includes channels, audiences, and messages.

[2022-03-22 13:15] maneyb1 commented on #45
@jamesmrollins -  JLV is using the community care JIRA On Max.gov. There a bunch of resources here on this team:
https://teams.microsoft.com/l/team/19%3aca8db41a37884ff78df3f1e419441ba3%40thread.tacv2/conversations?groupId=1b28ab40-9a60-4477-bfb6-3a4c016adbb1&tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf

Gartner Magic Quadrant report: https://dvagov.sharepoint.com/sites/CopyofMPKanban/Shared%20Do

[2022-03-22 20:01] vvenu-va commented on #52
On 22 March:
V presented the Managerial Accounting Pyramid that allows drill downs to various cost accounting factors.  He Demonstrated how to navigate to cost factors by department.

V and James discussed a use case of a specialty team who is describing a workflow in a given clinic and would need a cost factor to gauge the economic value of the project (the numerator in the value equation).

V an

[2022-03-22 21:06] maneyb1 commented on #45
@maneyb1 - ask Renee if CPRS team is using Atassian/JIRA, if so, where and what account

[2022-03-22 21:08] maneyb1 commented on #47
@maneyb1 - do pre-review of comms strategy/plan draft

[2022-03-23 14:32] maneyb1 commented on #45
@maneyb1
- [ ] Follow up with Laura Prietula on what EHRM is planning to use
JN criteria
- select that tool that VA is most likely to sustain over time vs best tooling option
- Widest adoption
- What EHRMIO plans to use

[2022-03-23 14:38] maneyb1 commented on #40
Need to coordinate with Aimee and the Fy222 acquisition work surround 5 identified IHPs.

[2022-03-23 14:39] maneyb1 commented on #49
@jamesmrollins - review 3/23

[2022-03-23 14:43] maneyb1 commented on #28
JN approved initial ART design, meeting with the "the Firm" 3/23 to discuss resourcing the agile teams.

[2022-03-23 20:17] vvenu-va commented on #52
[Instructions for Using Pyramid Cubes for MCAO Data.pdf](https://github.com/jamesmrollins/CIDMO_LCMT/files/8336305/Instructions.for.Using.Pyramid.Cubes.for.MCAO.Data.pdf)

[2022-03-23 20:17] vvenu-va commented on #52
[Importand Sites for MCAO Data.docx](https://github.com/jamesmrollins/CIDMO_LCMT/files/8336312/Importand.Sites.for.MCAO.Data.docx)

[2022-03-23 20:39] maneyb1 opened #56 "As a CIDMO COR, I need to understand FY22 contract actions needed to support first increment of work"

[2022-03-23 20:40] maneyb1 commented on #56
@aimeebenson - Add FY22 acquisition planning pre-leading SAFe training milestones/schedule to card

[2022-03-23 20:52] maneyb1 commented on #55
- [ ] get current teams' work exposed and visible into the backlog
- [ ] Break IHP IPT concepts into features

-

- [ ]

[2022-03-23 20:57] maneyb1 opened #57 "Gather and Curate FAQ Content"
- [x] Gather emerging questions
- [x] Curate a FAQ database (SharePoint?)
- [x] Develop questions
- [x] Elicit Responses from content SMEs

[2022-03-23 21:09] maneyb1 commented on #48
Tas recommends we seek out additional scrum master training and identify contract strategy because the SAFe scrum master training assumes basic scrum master skills and teaches how to apply those skills in scaled agile.

- [x] Investigating Scrum master training options in VA (linked-in learning/TMS)
  - [x] Use LCMT as scrum master coaches for first increment
  - [x] identify options in contract v

[2022-03-23 21:16] maneyb1 commented on #52
Posted these files to LCMT Channel
@jamesmrollins, @brandymorrison - do review of instructions

[2022-03-23 21:21] maneyb1 commented on #49
This is pending on comms and training plan

[2022-03-24 02:57] maneyb1 commented on #49
In addition to the Leading SAFe, I recommend the certification prep: Scrum master for everyone on the ART: https://www.linkedin.com/learning-login/share?account=70115025&forceAccount=false&redirect=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fcert-prep-scrum-master%3Ftrk%3Dshare_ent_url%26shareId%3DgfxEZN1PTT64CASvjs0qig%253D%253D

[2022-03-24 04:21] maneyb1 commented on #48
Draft list of cohort 1/2  Leading SAFe participants:
https://dvagov.sharepoint.com/sites/CopyofMPKanban/Lists/SAFe%20Onboarding/SAFe%20Class%20Cohorts.aspx?viewid=3be0cda6%2Ddd3e%2D4b4a%2Da3a2%2D3f31e4555282

Need to review training budget - may need to request 10k
Need to discuss who should pay for training for Program Office People

[2022-03-24 14:31] maneyb1 commented on #28
First ART design approved to be shared with Division management teams to refine and begin discussing resourcing

- [x] Review and update with Kate Cillessen
- [x] Review and update with Jonathan Nebeker
- [x] Review and update with Steve Brown
- [x] Review and update with Darren Wilson
~~- [ ] Review with David Massaro~~
- [x] Review with Tommy Barnes
~~- [ ] Review and update with Jolie Rene~~
-

[2022-03-24 18:49] jamesmrollins commented on #52
Hi @vvenu-va - I reviewed the training documentation and was able to get into the Pyramid scheme (forgive the dad joke!).   The links did not survive the PDF export.  I was able to figure it out but may need to expand on which domain to select (MCAO).

@maneyb1 one big limitation is that someone has to train up on Pyramid.  It is very similar to Power BI, with respect to grabbing information from

[2022-03-24 18:55] jamesmrollins commented on #45
@maneyb1 @aimeebenson @brandymorrison I started up a private Atlassian Jira account to begin muddling through our transition.

 - In order to move our issues and such from ZenHub/GitHub to Jira, I need to export everything to a CSV.
 - GitHub and ZenHub do not have a means to create a CSV natively.
 - There are GitHub actions that will do this.
 -  I am going to put together an action to perform t

[2022-03-24 21:07] maneyb1 commented on #56
Aimee aligned acquisition schedule with SAFe planning schedule and acquisition POCs are included on candidate list for the April Leading SAFe training so that they have good idea of language to use in their PWS's that will supply resources on the teams for the first and second increment of work

[2022-03-24 21:11] maneyb1 commented on #45
@maneyb1 - reach out to Jolie to see if and where what instance they are using. Also go to YourIT...

Service design team is interested in add-on integrated apps to support story mapping, blueprints.

[2022-03-24 21:12] maneyb1 commented on #47
Brenna and Kellie did cursory review of structure.
Brenna will do content review and provide sources for key messages

[2022-03-24 21:14] maneyb1 commented on #28
Sent Darren and Tommy Barnes a copy of the ART design. Need to follow up to review and discuss.
@maneyb1 - discuss review with OIT with Kate on Monday

[2022-03-25 13:47] maneyb1 opened #58 "As the CIDMO IHP Board Member, I need to introduce proposed changes to board approval process and use directive to communicate new approved changes"

[2022-03-28 14:16] brandymorrison commented on #57
FAQs have been developed. Some still need responses. We are also awaiting a response from Aldo from the questions his team had to ensure that those are captured here as well.

[2022-03-28 21:16] maneyb1 commented on #47
@brandymorrison - put all questions in wiki on teams
comms plan will have answers to question the LCMT proactively identifies
@maneyb1  -Do content reviewm package and send to JN for reading material on 3/29 flight

[2022-03-28 21:21] maneyb1 commented on #48
Brenna added spend plan and work item into SP lists on 3/28

[2022-03-28 21:25] maneyb1 commented on #28
@maneyb1
Propose candidate names for teams - see card #54

[2022-03-29 14:47] maneyb1 commented on #56
@aimeebenson
- [x] introduce training requirements for this team (linked in learning scrum basics or scrum cert prep and key sections of Kanban fundamentals
- [x] update training plan
- [x] share backlog of current and planned IHP increments of work
- [x] Evaluate Participatory budgeting possibilities
~~- [ ] Define how we will decide how much goes where.~~

[2022-03-29 14:51] maneyb1 commented on #48
@aimeebenson - have Charlene send draft SF182 to brenna, Brenna will email candidate participants asking them to confirm their availability by completing 182 and sending to Charlene

Done

[2022-03-29 21:02] maneyb1 commented on #47
Didnt get homework to Nebeker in time, as @maneyb1 doing thorough read of all 3 plans. Send to Brandy for final comms review. WIll coordinate time with Kellie to get JN to review/revise.

[2022-03-29 21:15] maneyb1 commented on #48
Working on purchase card issue to actually buy the training licenses - meeting on Friday to try to resolve with purchase card holders.

[2022-03-30 03:51] maneyb1 commented on #47
@brandymorrison - please do another reconciliation of communications from the core IHP deck, the campaign I started, the All Staff decks, and the Transformation plan

[2022-03-30 16:52] brandymorrison commented on #47
@maneyb1 I accepted the communications plan edits, added language in from the all staff presentations and have reviewed the Transformation plan. I did not accept changes, but read as though changes were accepted. I made additional comments in track changes. @jamesmrollins Are you the owner of the Transformation plan to review the track changes?

[2022-03-30 20:21] aimeebenson commented on #56
Meeting scheduled with TAS to discuss  Participatory budgeting.  Website reviewed.

[2022-03-30 20:48] maneyb1 opened #59 "Backfill clinical data analyst role for Measure"

[2022-03-30 20:51] maneyb1 commented on #59
- [ ] Explore teaming
- [x] Make part of IHP intake assessment
- [ ] Detail

Possible sources with this expertise could be VISNs, Program Offices, and ORD

[2022-03-30 20:59] aimeebenson opened #60 "As a PM, I need help with planning contracting IHPs."
- [x] Evaluate Participatory budgeting possibilities
- [x] Define how we will decide how much goes where.
- [x] Finish Charter analysis

[2022-03-30 21:00] maneyb1 commented on #56
@maneyb1
- [x] see if there is a KANBAN training in LIL that is comparable to the TMS module

[2022-03-30 21:07] #52 closed, assigned to maneyb1, jamesmrollins, vvenu-va, brandymorrison

[2022-03-31 14:36] #45 closed, assigned to RossSpeir, maneyb1, jamesmrollins, vvenu-va

[2022-03-31 14:38] #49 closed, assigned to maneyb1, jamesmrollins, aimeebenson, brandymorrison

[2022-03-31 14:42] jamesmrollins opened #61 "Staff and Distribute the Transformation Plan"
- [ ] JN Review and signatures
- [ ] Division briefs (promulgation)

[2022-03-31 14:42] jamesmrollins opened #62 "Staff and Distribute the Transformation Plan"
- [x] Director and Leadership review
- [x] Send to PMs for review
- [x] Collect and harmonize feedback from leadership team and PMs
- [x] JN Review and signatures
- [x] Identify where and when to disseminate transformation plan
- [x] Post to communication channels
- [x] Identify owner of monitoring feedback

~~- [ ] Division briefs (promulgation)~~

[2022-03-31 14:53] aimeebenson commented on #54
- [ ] Meet with directors for identified value streams and support building teams
- [ ] Need a migration plan that will prioritize work that people are already performing with the work the ART will be responsible for.

[2022-03-31 15:13] jamesmrollins opened #63 "Develop GitHub Action to Migrate ZenHub Issue Cards to JIRA"
To move issues from ZenHub to JIRA, we must create an export CSV.  To do this we must develop a GitHub action to export the data, then import it into JIRA.

[2022-03-31 15:14] #61 closed, assigned to nobody

[2022-03-31 15:27] jamesmrollins opened #64 "Identify JIRA license source, set up LCMT"
- [x] Contact OIT and see if we can align with their license.
- [ ] Set up LCMT Members and train.

[2022-04-01 17:30] #56 closed, assigned to maneyb1, aimeebenson

[2022-04-01 17:33] maneyb1 opened #65 "As the training POC, I need to have all identified participant's registered for the Leading SAFe class"
- [x] SF-182s for everyone who is going to participate NLT 10am on Wednesday, April 6th
- [x] Provide instructions and guidance on 2 course pre-requisites
- [x] purchase the seats for the class NLT 12pm EST on Thursday, April 7, 2022
- [x] Notify participant's they are registered
- [x] Update MS team with final roster
- [x] Confirm we can fill the second session by 4/15

[2022-04-01 17:43] #48 closed, assigned to maneyb1, jamesmrollins, aimeebenson

[2022-04-01 19:09] maneyb1 opened #66 "As a Leading SAFe participant, I need the meeting info for the workshop"
- [x] Identify auditors
- [x] identify lead logistic support
- [x] Set up ROB for auditors
- [x] Identify breakout teams
- [x] Set up main room calendar invite (use Team Channel)
- [ ] ~~Make LCMT owners of the Team~~
- [x] Set up separate meeting invites rooms for  break-out teams
- [x] Invite teams to each session
- [x] invite Tas, James, Catherine, and Andrew to each break-out room

[2022-04-01 19:20] maneyb1 commented on #64
@RossSpeir
- [ ] Contact DOTS team
[https://vajira.max.gov/servicedesk/customer/portal/1](url)

[2022-04-01 19:38] maneyb1 commented on #66
Hey @weaverjj I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/lcmt-kanban-61fa0e31aeb5be00174a554e/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-04-01 20:00] aimeebenson opened #67 "As a OHI COR, I need to know CIDMOs plan for contracting IHPs"
- [x] Finish analysis

- [x] finalize who gets how much decisions

- [x] finalize PWS

- [x] Submit to Tommy

[2022-04-04 14:50] maneyb1 commented on #28
Follow-up on Wednesday whether we need to brief ART design to Tommy.

[2022-04-04 18:18] maneyb1 commented on #66
Training Main room - instructors lead discussion
Break-out rooms - activities - planning on 3 breakout rooms
Make Instructors and LCMT Owners of all the channels

LCMT auditors must have certification, else must register for class.
Set up meetings all day for 3 days - same instance

@RossSpeir - taking lead as logistic POC

[2022-04-05 13:23] jamesmrollins commented on #47
@maneyb1 @brandymorrison - I am likely owner of the document, but please feel free to accept changes and get the plan out there.

_We should follow the 1/3 2/3 planning rule, which says that we should give 2/3 planning time to the field and take only 1/3 of the time for ourselves._

:-)

[2022-04-05 13:28] jamesmrollins commented on #28
@maneyb1 - Is Tommy the procurement person?

[2022-04-05 13:31] jamesmrollins commented on #66
Hi @maneyb1 - I am not sure what you mean by Auditor?  Is this for the inspection-compliance team? If so, what auditor certification classes do you mean (i.e., ISO Auditor certifications?).  Or do you mean, someone has to be Leading SAFe certified?

[2022-04-05 14:08] brandymorrison commented on #57
I have added FAQs by category to the wiki associated with the teams channel

[2022-04-05 14:33] maneyb1 opened #68 "As a leader supporting implementation of first ART, I need an opportunity to meet with the SAFe implementation team to answer any questions and remove any roadblocks"
- [x] Add OIT ACOE team to LCMT Leadership weekly

[2022-04-05 14:50] maneyb1 commented on #66
Class is set up in Scaled Agile site and instructors are assigned
10-4 EST, with 1/2 hour lunch
Once registration is complete, Andrew will send out a welcoming email, which includes pre-training and agile basics e-learning
@RossSpeir . @maneyb1
- [ ] Get teams and breakout logistics sorted by end of day 4/7
- [ ] Andrew confirm we can export outputs from SAFe's collaborate platform.

[2022-04-05 14:51] maneyb1 commented on #54
@maneyb1
- [ ] overlay existing projects in ART
- [ ] identify which team will work on which project in PI planning training

[2022-04-05 18:50] aimeebenson opened #69 "As a CIMDO PM, I need the MS use memo to be approved by Chuck Hume"
- [x] Finish Writing SOP

- [x] Finish Writing Pipeline Template

- [x] Tommy Barnes review

- [x] Send to mail call for Chuck review.

[2022-04-06 14:37] maneyb1 commented on #47
- [x] Share plan with FIRM
- [x] Share with PMs

[2022-04-06 14:40] maneyb1 commented on #28
Jolie took a new position, need to introduce ourselves to  new team
@aimeebenson - schedule meeting with Tommy and team for Monday

[2022-04-06 14:41] maneyb1 commented on #66
@maneyb1 - verifying with Tas and Andrew whether SAFe for Gov certificates can audit Leading SAFe class

Decide if Jonathan should do opening

Brenna out first two days of training.

[2022-04-06 19:14] maneyb1 commented on #65
After seat is purchased students can expect a set of emails - these might go to Junk
Andrew will follow-up with a welcome email that will include breakout information, product

[2022-04-06 20:05] maneyb1 opened #70 "Prepare Transformation Plan Dissemination"
- [x] Collect and harmonize feedback from leadership team and PMs
- [x] Identify where and when to disseminate transformation plan

[2022-04-06 20:19] maneyb1 commented on #64
@jamesmrollins In meantime, can we set up a board in Zenhub to start building IHP program Kanban?

[2022-04-06 20:31] maneyb1 commented on #28
@RossSpeir - please send invite for Monday 11EDT to review IHP ART Design with OIT CPRS team and Kate, and hopefully Jonathan. @jamesmrollins  - confirm with Ross that you can make that time - you will need to drive the review of the map.

[2022-04-06 20:56] maneyb1 opened #71 "Clean up Roadmap"
- [ ] Add dates for epics
- [ ] associate issue cards to epics

[2022-04-07 14:23] RossSpeir commented on #28
Kate has requested we postpone this OIT discussion until AFTER next weeks' SAFe training.  I think she's right - the discussion with OIT will be more fruitful when Kate has a better understanding of the new process she oversees.

[2022-04-07 14:49] maneyb1 commented on #54
@RossSpeir
- [ ] Gather feedback from HFE on Team Roster Roles
@aimeebenson
- [ ] Get feedback from PM community

[2022-04-07 15:09] maneyb1 opened #72 "As the OIT CPRS team (and CIDMO Partner), I need to understand my teams potential roles in this ART"
- [x] Review ART design with OIT stakeholders
- [x]  get input and discuss implications of this on OIT
- [x] Identify if any of the OIT partners want to attend the 5/10 Training by 4/15

[2022-04-07 15:13] maneyb1 commented on #72
Jolie took a new position, need to introduce ourselves to new team
@aimeebenson - scheduled meeting with Tommy for the 15th

@RossSpeir - please send invite for Monday 11EDT to review IHP ART Design with OIT CPRS team and Kate, and hopefully Jonathan.
@jamesmrollins  - confirm with Ross that you can make that time - you will need to drive the review of the map.

CPRS Team includes:
kathryn.cilless

[2022-04-07 15:17] maneyb1 commented on #72
Per Ross,  Kate has requested we postpone this OIT discussion until AFTER next weeks' SAFe training.  I think she's right - the discussion with OIT will be more fruitful when Kate has a better understanding of the new process she oversees.

[2022-04-07 15:18] maneyb1 commented on #72
@RossSpeir - I think delaying input from OIT on the ART is risky - will consult with Jonathan on level of risk and how we wants to address.

[2022-04-07 15:18] maneyb1 commented on #28
Moved partner work to issue #72

[2022-04-07 15:23] maneyb1 commented on #57
@brandymorrison - I recommend asking @weaverjj  to review and provide input

[2022-04-07 15:26] maneyb1 opened #73 "As the RTE, I need teams to begin populating the Program KANBAN Board"
- [x] Establish regular planning meetings with RTE
- [x] Identify business analysis team candidates
- [x] Communicate standard definition of epics, capabilities, features, user stories with examples
- [x] Break 1 IHP IPT concept into Epics, themes, user stories and/or features
- [x] Create a product roadmap that communicates how existing approved IHP work is going to translate into prioritized fut

[2022-04-07 15:27] maneyb1 commented on #73
I started a Program Board in planner to help conceptualize how we will map existing work into IHP ART
https://tasks.office.com/DVAGOV.onmicrosoft.com/en-US/Home/Planner#/plantaskboard?groupId=53b634be-af61-4d94-80d4-14432d2fb546&planId=bIotwlAhBEOP1gd75XDSHIIADEkr

We also need a roadmap - started one in power point but if we get an agile tool up and running we can hopefully use that: https://dvag

[2022-04-07 16:28] maneyb1 commented on #73
@RossSpeir - Can HFE start the business analysis work, starting with the IHP project charters

[2022-04-07 20:30] RossSpeir commented on #73
The 'Intake and Discovery' team needs to specify the their objectives using this template: https://teams.microsoft.com/l/file/1F2CAF6F-E1FB-4D10-B6C9-7CAE1D05E345?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&fileType=pptx&objectUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanban%2FShared%20Documents%2FIHP%20ART%20Organization%2FAgile%20Team%20Charters.pptx&baseUrl=https%3A%2F%2Fdvago

[2022-04-11 14:40] jamesmrollins commented on #65
- Need to confirm attendee list of class registration by 4/15.
- Need to investigate if OIT (i.e., Elizabeth) if we need to pay for their training or whether they will pay for their own . . .  @RossSpeir will follow up with Elizabeth and copy @aimeebenson @jamesmrollins and @maneyb1

[2022-04-11 14:41] jamesmrollins commented on #66
@RossSpeir met with Tas and Andrew and walked through the seminar via Teams process.  There is no need to make LCMT owners of the teams.

[2022-04-11 14:54] jamesmrollins commented on #64
Have developed the ZENHUB export action. Will test import to JIRA by 4/12.

[2022-04-11 15:02] jamesmrollins commented on #69
SOP is written and sent to Tommy and JN for review.

[2022-04-12 14:41] brandymorrison commented on #47
Will share with all identified PMs after signature

[2022-04-12 14:41] #57 closed, assigned to RossSpeir, aimeebenson, brandymorrison

[2022-04-12 23:15] jamesmrollins commented on #64
FYI @RossSpeir @maneyb1 @aimeebenson

1.  Navigated to the max.gov VA-DOTS page and put in a request for a Jira instance.
2.  I also requested a "discovery" meeting to discuss setting up the organization and how we go about doing that.
3. Hopefully more to report tomorrow.

[2022-04-13 14:53] jamesmrollins commented on #65
@jamesmrollins will follow up with Elizabeth to see what her questions are about training requirements.

[2022-04-13 22:00] #37 closed, assigned to nobody

[2022-04-13 22:00] #24 closed, assigned to jamesmrollins

[2022-04-13 22:50] jamesmrollins commented on #65
@maneyb1, @RossSpeir @brandymorrison @aimeebenson @vvenu-va

Spoke with Elizabeth Griffith today regarding her participation in our upcoming May Leading Agile training.  She indicated her interest in attending.  Below is a summary of our conversation:

- Elizabeth's team was reorganized, so supervision and team composition is currently in flux. However, templates and reminders will be handled by t

[2022-04-13 23:02] #29 closed, assigned to maneyb1, jamesmrollins

[2022-04-13 23:03] #6 closed, assigned to nobody

[2022-04-14 18:02] jamesmrollins commented on #64
Going to split this card into two others for procure license and set up LCMT.

[2022-04-14 18:05] jamesmrollins opened #74 "Procure a Jira License"
- [x] Contact DOTS representative and procure a project workspace.
- [x] Identify sources of training.
- [x] Identify how to nest various Agile Teams in a manner that simplifies reporting.

[2022-04-14 18:06] jamesmrollins opened #75 "Set Up LCMT Jira Instance and Train LCMT"
- [ ] Set up LCMT Jira instance
- [ ] Migrate issues from ZenHub
- [ ] Train LCMT

[2022-04-14 18:24] aimeebenson commented on #69
Follow up with Tommy today.  He said he'd get to the review by tomorrow.  Chuck H review will have to happen next week.  Waa Waa Waaahhh

[2022-04-14 18:26] aimeebenson commented on #47
I actually already shared with PMs.  :) Told them it was a draft and JN was reviewing.

[2022-04-14 20:25] maneyb1 opened #76 "Charter Business Analysis Team"
- [ ] Schedule Team workshops
- [x] Support teams in writing team charters
- [x] Share Team Charters
- [ ] Get executive sponsorship for teams
- [ ] Reward teams for first agile effort

[2022-04-14 20:40] maneyb1 opened #77 "Get 2nd cohort of trainees registered"
- [ ] ~~Identify business owners to participate in Leading SAFe and SAFe for Teams~~
- [x] Determine strategy for getting CPRS team trained enough to participate in PI planning
- [x] Identify other CIDMO staff who are good candidates for ART roles and recruit for next training
- [x] Message directors to fill remaining slots
- [x] Coordinate payment for 5/5

[2022-04-14 20:51] maneyb1 opened #78 "Develop Agile Team Charter Strategy"
- [x] Work with 'FIRM' to identify strategy for chartering the agile teams
- [x] Develop recruitment campaign for new positions

[2022-04-14 20:56] maneyb1 commented on #72
@jamesmrollins - we should discuss the IHPMB/ICC briefing with Kate on Monday.

[2022-04-14 20:57] maneyb1 opened #79 "Complete an IHP ART Canvas"
- [x] Fill out a ART Charter and Canvas

[2022-04-14 21:09] maneyb1 opened #80 "PI Planning Annex/Appendix to Transformation Plan"
- [x] Begin messaging timeline for PI planning
- [x] Set up Team in MS teams and add dates to Calendar

[2022-04-14 21:27] maneyb1 opened #81 "establish Program Kanban"
- [ ] Get list of all teams current, active and planned work pulled into KANBAN Board
- [ ] Use relative estimating to estimate how much work is already in progress and needs to be completed in first increment

[2022-04-14 21:32] #28 closed, assigned to maneyb1, jamesmrollins, aimeebenson

[2022-04-14 21:32] #68 closed, assigned to maneyb1

[2022-04-14 21:32] #40 closed, assigned to RossSpeir

[2022-04-14 21:32] #66 closed, assigned to RossSpeir, brandymorrison

[2022-04-14 21:33] #64 closed, assigned to RossSpeir, jamesmrollins

[2022-04-14 21:40] maneyb1 commented on #47
This card will be about structuring the plan so that the campaigns match the LCMT roadmap.
Future cards will be developing campaign specific content
- [ ] look for Gartner resources

[2022-04-14 21:43] maneyb1 commented on #70
This document can be a communication tool with partners.
@maneyb1 - deliver transformation plan to Felise and Chuck Hume as part of Ops and SES plan updates

[2022-04-14 21:45] maneyb1 opened #82 "IHPMB Communication Packet - Draft"
Prepare briefing for IHPMB on what we are going.

- [X] Clean, High level IHP ART Design
- [x] Transformation Plan
- [x] Background PI planning and implications for IHPMB
- [x] Business Analysis team overview
- [ ] Business Owner and Product Owner role review
- [ ] Identify Business Owners and schedule for training
- [ ] WSJF Prioritization exercise
- [ ] Events and Ceremonies calendar

[2022-04-14 21:52] #65 closed, assigned to maneyb1

[2022-04-14 21:55] #54 closed, assigned to RossSpeir, jamesmrollins, aimeebenson

[2022-04-15 19:04] maneyb1 commented on #67
~~@maneyb1 - fill in T06 with roles, requirements, deliverables~~
@maneyb1 - update T03

[2022-04-15 22:35] #62 closed, assigned to jamesmrollins, brandymorrison

[2022-04-15 22:35] #47 closed, assigned to maneyb1, brandymorrison

[2022-04-18 14:56] RossSpeir commented on #72
4/18 call will be kept high level.
Action Item: How does the 'IHP process' need to change for national reminders (and other smaller-level efforts)? This is related to the ART Canvas and Roadmap (#79).
Action Item: We'll need a follow on with Kate to nail down decisions / plans regarding incorporating national reminders work into the IHP process.

[2022-04-18 15:07] #63 closed, assigned to jamesmrollins, hirenp-waferwire

[2022-04-18 17:59] maneyb1 opened #83 "Review OIT Product Line Playbook for adoption"
https://dvagov.sharepoint.com/sites/OITACOEPortal/Methodology/Key%20Changes/Forms/AllItems.aspx?id=/sites/OITACOEPortal/Methodology/Key%20Changes/DevSecOps%20PLM%20L2%20Playbook_Final%20_042721%20-%20signed.pdf&parent=/sites/OITACOEPortal/Methodology/Key%20Changes

[2022-04-18 19:34] maneyb1 commented on #78
@maneyb1 - prepare presentation to FIRM on Team Structure and size, negotiate timeframe for filling gov roles, ask how we can support them in filling the roles. Message is pri 1.  who is best fit for team, pri2. clear the right person for the job plate Pri3. discuss training and other needs to make person successful.
@RossSpeir - show draft charter for business analysis team. Discuss timeline for

[2022-04-19 14:40] #69 closed, assigned to aimeebenson

[2022-04-19 14:41] maneyb1 opened #84 "As a LCMT member, I need to understand how staff perceived the value of the training and what we can improve?"
- [x] Gather feedback from the particpants
- [x] Share feedback with Tas
- [x] Work with LCMT to identify any changes for future trainings

https://forms.office.com/Pages/DesignPage.aspx?fragment=FormId%3DIxtf6a-r7kWCHberJRqzv7oXvRtGkIBBoWk-d9Z27x9URUtIQTQ2SDgxNlQ1ODY0RlNXVTFRRk9MTi4u%26Token%3Decceb7caacce464caff1346c38793cbd

[2022-04-19 14:55] jamesmrollins commented on #70
Disseminate List:

Kellie disseminate under JN email?
- [x] CIDMO Distribution Group
- [x] OHI Distribution Group
~~- [ ] Portfolio Manager, DevSecOps~~
- [x] Members of the IHPMB?
- [x] Share with Sheila

[2022-04-19 14:59] jamesmrollins commented on #77
@maneyb1 will send out a message today for everyone to get their SF182 submitted for next round of training.

[2022-04-20 13:58] RossSpeir commented on #78
[https://app.zenhub.com/files/454514222/d318a546-1f54-4951-bdbe-7b5a037b7752/download](https://app.zenhub.com/files/454514222/d318a546-1f54-4951-bdbe-7b5a037b7752/download)

@jamesmrollins - Could you provide an example for the Working Agreements section?  Also, feedback on the Charter is welcome.

[2022-04-20 14:40] maneyb1 commented on #79
@jamesmrollins - send draft IHP Canvas to Kellie for comms review

[2022-04-20 14:43] maneyb1 commented on #74
VA OIT has a JIRA server.
They are looking for alignment to an OIT portfolio
James will follow up
If we get any pushback on the portfolio, leverage Jonathan to ask for a pilot

[2022-04-20 14:44] maneyb1 commented on #70
Messaged on All Staff Call.
@brandymorrison - add transformation plan to Friday Five

[2022-04-20 14:49] maneyb1 commented on #78
Started the recruitment campaign for scrum masters and product managers through Directors and all staff channels

[2022-04-20 14:55] maneyb1 commented on #80
Ross and James meeting Friday to review original plan Ross developed. Include Tas.
Review the training schedule - we need to decide if we want to do SAFe for Teams and PI planning over 4 days/same week or if we want to do back-to-back weeks.

[2022-04-20 16:15] RossSpeir commented on #78
Link to the BAT charter (notes, assumptions, questions):  https://dvagov.sharepoint.com/:p:/r/sites/CopyofMPKanban/Shared%20Documents/IHP%20ART%20Organization/Business%20Analysis%20Team/Business%20Analysis%20Team%20Charter_v.2.pptx?d=wff3981a3faf14130af4720b4fc3a1833&csf=1&web=1&e=lTfd1K

[2022-04-20 20:26] #60 closed, assigned to aimeebenson

[2022-04-20 20:28] #81 closed, assigned to nobody

[2022-04-20 20:36] #71 closed, assigned to jamesmrollins

[2022-04-20 20:47] maneyb1 commented on #59
@vvenu-va - make recommendations in transition plan

[2022-04-21 14:45] jamesmrollins commented on #79
Each division will provide us with 5 projects to populate the populate the roadmap. Should be complete by 4/22.  Send out a follow-up email on Monday, 4/25.

- Provide an announcement during the "Friday 5" email to advertise the Scrum Master positions available and provide a link to the position table in SharePoint. Target 4/22 release and pair with Transformation Plan. Talk to your supervisor and

[2022-04-21 14:46] jamesmrollins commented on #72
Invite Elizabeth Griffiths to meeting with Kate Cillessen on Monday.  @maneyb1 will confirm meeting.

@maneyb1 and @jamesmrollins will meet with JN during Tuesday weekly to set up a more formal meeting with OHI/OIT.

[2022-04-21 18:06] jamesmrollins opened #85 "Write planning standing operating procedure"
Describes steps necessary to:

- [ ] Prepare main plan document
- [ ] Describes types of Annexes and Appendices.
- [ ] Provides templates with explanations of necessary content.
- [ ] Describes how the plan is shared, discussed and refined.
- [ ] Describes how the plan is promulgated, and updated over time.

[2022-04-21 18:07] jamesmrollins opened #86 "Write Jira Standing Operating Procedure"
Will flesh this out, once we have a Jira instance.

[2022-04-21 19:51] brandymorrison opened #87 "Establish baseline knowledge/acceptance of change management"

[2022-04-21 19:55] brandymorrison commented on #87
- [x] Create a survey for CIDMO employees to take to establish a baseline of acceptance/perception of change management processes
- [x] Establish a plan to distribute

[2022-04-25 20:21] jamesmrollins commented on #74
Will follow up with Jira implementation Team 4/26

[2022-04-25 21:02] jamesmrollins commented on #55
@maneyb1 @RossSpeir

I established an ART Program Kanban [here](https://app.zenhub.com/workspaces/art-program-backlog-626704136331650018f62550/board?repos=485524192).  You are both invited as collaborators.

[2022-04-25 21:04] jamesmrollins commented on #80
@RossSpeir and @maneyb1 The plan is available in draft.  I also set up an ART Kanban Board.

[2022-04-25 23:20] jamesmrollins opened #88 "Write a Cultural Transformation Annex"
- [x] Provides a multidisciplinary framework and strategy for how we will transform the culture from the status quo to Agile in terms of affecting individual behaviors.
- [x] Identifies measurable ends, realistic ways and available means.
- [x] Describes supporting communications campaigns, channels and means for reporting Lean-Agile outcomes

.

[2022-04-25 23:28] jamesmrollins commented on #88
Hi @aimeebenson @brandymorrison @maneyb1 @RossSpeir - I have prepared a draft of the [Cultural Transformation Annex](https://teams.microsoft.com/l/file/FAEBAC71-D3D0-4976-8054-6D214DA12C9D?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&fileType=docx&objectUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanban%2FShared%20Documents%2FLCMT%2FTransformation%20Plan%2FAnnex%20B%20-%20Cultural%2

[2022-04-26 14:26] RossSpeir commented on #78
I've worked on applying the ART roles to the Cystatin C effort.
Due to other CIDMO priorities, we've postponed the 'ART roles for IHPs' meeting to Friday.

[2022-04-27 14:37] maneyb1 commented on #84
@jamesmrollins - set up call with Tas
- Review and address feedback from first training retro
- strategize around resourcing the train - can we do a simulated PI planning now?

[2022-04-27 14:39] maneyb1 commented on #55
IHP Work in progress:
https://dvagov.sharepoint.com/sites/CIDMOPortfolioManagement/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={EE7915CA-FCF9-4505-AA9C-DF9BC991EA0B}

[2022-04-27 14:46] maneyb1 opened #89 "Transformation Plan Comms Campaign"
- [x] Identify channels/tactics to distribute plan
- [x] Identify owner of monitoring feedback
- [x] Define continuous review and update strategy

[2022-04-27 14:48] maneyb1 commented on #89
@brandymorrison - work with Stacie R on OHI blog?

[2022-04-27 14:49] maneyb1 commented on #74
@maneyb1 Escalate to Jonathan via email - get support from health product line team

[2022-04-27 14:49] maneyb1 commented on #74
@maneyb1 Escalate to Jonathan via email - get support from health product line team

[2022-04-27 14:53] maneyb1 commented on #78
Resource Plan Power Point: https://dvagov.sharepoint.com/:p:/r/sites/CopyofMPKanban/Shared%20Documents/IHP%20ART%20Organization/CIDMO%20Lean-%20Agile%20Resource%20Plan.pptx?d=w1f2caf6fe1fb4d10b6c97cae1d05e345&csf=1&web=1&e=iht2bK

[2022-04-27 15:03] maneyb1 commented on #87
Do we want to review this plan with Change Management SMEs in CIDMO?
- Greg Staudenmaier
- Seema Nazeer
- Andrew Wilson (customer change)

[2022-04-27 15:05] maneyb1 commented on #87
@brandymorrison - identify distribution channel and send out

[2022-04-27 19:50] maneyb1 opened #90 "Line up a Guest Star and other business context Participants to support PI Planning"
Discuss IHPMB briefing with Kate
Ask Sheila for nursing candidates as well.

[2022-04-27 19:53] maneyb1 opened #91 "Prepare PI planning Administrative set up"
- [x] Address feedback from Leading SAFe class
- [ ] Pre-populate teams with all tools and break out rooms
- [ ] Populate and share master deck
- [ ] Schedule pre-meeting

[2022-04-27 20:08] brandymorrison commented on #87
https://forms.office.com/Pages/ResponsePage.aspx?id=Ixtf6a-r7kWCHberJRqzv5KZDl0LliFCkalX9GtWS0VUNURPNkgzT0w5WExDN0FGWUNTRVdGWjZKTC4u

[2022-04-27 20:12] maneyb1 commented on #84
@maneyb1
- [x] Schedule pre-brief with participant list to set expectations for training
- [x] Decide if we should modify existing team or create new team for upcoming training event

[2022-04-27 20:18] maneyb1 opened #92 "OIT Exec Briefing"

[2022-04-27 20:19] maneyb1 commented on #92
- [ ] Queue up executive briefing between OHI/OIT
- [ ] Distribute transformation plan to OIT stakeholders

[2022-04-27 20:21] #72 closed, assigned to RossSpeir, maneyb1

[2022-04-27 20:22] #78 closed, assigned to RossSpeir, maneyb1, jamesmrollins

[2022-04-27 20:23] #79 closed, assigned to maneyb1, jamesmrollins

[2022-04-27 20:24] #67 closed, assigned to aimeebenson

[2022-04-27 20:28] #88 closed, assigned to RossSpeir, maneyb1, jamesmrollins, aimeebenson, brandymorrison

[2022-04-27 20:33] maneyb1 commented on #59
Having a meeting with PEPREC on Monday to discuss level of support for IHPs

[2022-04-27 20:47] maneyb1 commented on #91
@RossSpeir - explore usage of HFE contract resources to suport

[2022-04-27 21:01] #55 closed, assigned to maneyb1, jamesmrollins, aimeebenson

[2022-04-27 21:03] #80 closed, assigned to RossSpeir, jamesmrollins

[2022-04-27 21:10] maneyb1 commented on #87
@brandymorrison  - we should probably put some context around what change we are referring to in the header of the survey.

[2022-04-27 21:17] maneyb1 commented on #74
Reach out to Shawn Kalman IPS POC

[2022-04-28 00:00] maneyb1 commented on #74
@jamesmrollins - please see email from Angela.Gant-Curtis@va.gov - she needs the DOTS request number

[2022-04-29 15:08] maneyb1 commented on #76
We are still trying to get assignments to the teams.
Priority is the business analysis team
Business analysis canvas is drafter, reflected in the power point: https://dvagov.sharepoint.com/sites/CopyofMPKanban/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={FF3981A3-FAF1-4130-AF47-20B4FC3A1833}

[2022-05-02 14:44] brandymorrison commented on #87
Establish as Spotlight for distribution 05.10.2022.

[2022-05-02 14:47] brandymorrison commented on #70
@maneyb1 Did you share with Sheila?

[2022-05-02 14:47] brandymorrison commented on #77
Awaiting the completion of 182's. Still pending.

[2022-05-03 14:40] RossSpeir commented on #70
I will share with Darren Wilson

[2022-05-03 14:42] #70 closed, assigned to jamesmrollins, brandymorrison

[2022-05-03 14:47] RossSpeir commented on #82
James and Brenna to discuss at 3pm Mt w/ JN

[2022-05-03 14:48] RossSpeir commented on #89
James provided feedback  on the document (looks good).
Brandy will continue working on it.

[2022-05-03 14:53] RossSpeir commented on #30
@RossSpeir will propose dependencies (as issue cards in Product Backlog) for this work.

[2022-05-03 15:05] maneyb1 opened #93 "Prepare Briefing for SLC offsite"

[2022-05-03 15:07] maneyb1 opened #94 "Prepare Briefing Deck for SLC offsite"

[2022-05-03 15:07] #93 closed, assigned to nobody

[2022-05-04 14:33] maneyb1 commented on #84
@jamesmrollins  -
- [ ] preparing project and feature material

@maneyb1  -
- [ ] prepare background on SAFe, the ACOE contract.
- [ ] Add registered students to MS Teams
- [ ] Post pre-read material in Teams

[2022-05-04 14:34] maneyb1 commented on #91
@jamesmrollins  -
- [ ] preparing project and feature material

@maneyb1  -
- [ ] prepare background on SAFe, the ACOE contract.
- [ ] Add registered students to MS Teams
- [ ] Post pre-read material in Teams

[2022-05-04 14:35] maneyb1 opened #95 "Change Management Spotlight"

[2022-05-04 14:36] maneyb1 commented on #74
Meeting with OIT team today - yay!

[2022-05-04 14:41] maneyb1 commented on #90
Validated with Jonathan that ONS and ONSI are good candidate guest stars

[2022-05-04 14:42] maneyb1 opened #96 "Set PI Planning Date"
Summer is a busy time, so we need to block PI planning attendees calendars now.

[2022-05-04 14:45] maneyb1 commented on #59
PEPREC will be supporting identification of baseline measures

- [ ] Need to make the VSSC dashboard part of intake checklist

[2022-05-04 19:39] maneyb1 commented on #91
@maneyb1 - identify options with Tas

[2022-05-04 19:44] maneyb1 commented on #73
- [ ] Need to identify CDS backlog

[2022-05-04 22:10] maneyb1 commented on #95
Make sure change management uses 'and' instead of 'but'

https://ssir.org/articles/entry/the_problem_with_problem_statements#

[2022-05-05 14:52] maneyb1 opened #97 "JIRA Training"

[2022-05-05 16:31] jamesmrollins commented on #74
FYI @maneyb1 @RossSpeir

## Conversation Summary with DOTS

- Spoke Seung Park and Sarah Adtani and Sarah MacDawutey.
- Seung indicated that the Healthcare Portfolio is planning to use Atlassian Align for ART level PI Planning support and reporting.  It is currently in Beta.
- While we wait for disposition from the Healthcare Portfolio folks, we are going to set up Jira Projects and use Atlassian

[2022-05-05 20:48] jamesmrollins commented on #74
FYI @maneyb1 and @RossSpeir

The request for the LCMT Jira Project and collaboration group has been submitted.

@RossSpeir - I need a list of users that will be on the Process Team (Clinical Business Analysis) team so I can submit a request.

[2022-05-06 17:34] RossSpeir commented on #76
James and Ross pulled HFE's IHP-related work. This should be reviewed by Kurt.
FYI @maneyb1 @aimeebenson @brandymorrison
[HFE IHP work](https://teams.microsoft.com/l/file/BBAD8F3B-EF7B-4A5A-83B2-87460843631B?tenantId=e95f1b23-abaf-45ee-821d-b7ab251ab3bf&fileType=xlsx&objectUrl=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FCopyofMPKanban%2FShared%20Documents%2FLCMT%2FART%20and%20Team%20Canvases%2FA

[2022-05-12 14:52] jamesmrollins opened #98 "LCMT Team Retrospective"
Some starting Comments:

- We are supposed to do an AAR with every Sprint.
- We need to better coordinate absences.
- Need to focus on asynchronous communication a little more.
- Better hand off of tasks that may be interrupted by urgencies.
- Discussion on how we handle tasks outside the current sprint backlog.

**We will need to work these out, as other teams will be facing the same pressures an

[2022-05-12 21:23] jamesmrollins commented on #83
@maneyb1 @aimeebenson @RossSpeir @brandymorrison

# Summary

1. The LCMT transformation plan is consistent with the Product Line Management Playbook. We should continue our scheduled activities and look for opportunities to identify OIT product lines that we would support (i,e., Cerner).

2. The playbook is a  4 step maturity plan that moves OIT from a project to a product focus.

- **You build it

[2022-05-13 19:50] #94 closed, assigned to maneyb1, jamesmrollins

[2022-05-13 19:50] #83 closed, assigned to RossSpeir, maneyb1, jamesmrollins

[2022-05-13 19:51] #87 closed, assigned to brandymorrison

[2022-05-13 19:51] #84 closed, assigned to maneyb1, jamesmrollins

[2022-05-13 19:51] #77 closed, assigned to maneyb1, aimeebenson

[2022-05-13 19:51] #89 closed, assigned to brandymorrison

[2022-05-13 19:51] #74 closed, assigned to jamesmrollins

[2022-05-13 19:54] jamesmrollins opened #99 "Task: Identify CDS and Terminology Backlog"

[2022-05-13 19:54] #73 closed, assigned to RossSpeir, maneyb1, jamesmrollins

[2022-05-13 19:56] jamesmrollins opened #100 "Task: Charter Development Team"
- [ ] Schedule Team workshops
- [ ] Support teams in writing team charters
- [ ] Share Team Charters
- [ ] Get executive sponsorship for teams
- [ ] Reward teams for first agile effort

[2022-05-13 19:57] jamesmrollins opened #101 "Task: Charter Implementation Team"
- [ ] Schedule Team workshops
- [ ] Support teams in writing team charters
- [ ] Share Team Charters
- [ ] Get executive sponsorship for teams
- [ ] Reward teams for first agile effort

[2022-05-13 19:58] #95 closed, assigned to brandymorrison

[2022-05-13 20:58] maneyb1 opened #102 "Business Agility Assessment for Leadership"

[2022-05-16 19:54] jamesmrollins commented on #82
This was moved to next month due to the movement of the PI Planning being moved out.  Some slides have been compiled into a draft briefing deck in the working file of the LCMT Briefing Decks folder.

[2022-05-17 01:28] #97 closed, assigned to jamesmrollins